#login-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(/assets/images/starry-night.jpg) no-repeat;
  background-size: cover;
}

#login-box {
  position: fixed;
  top: 35%;
  left: 40%;
  min-width: 300px;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  .or {
    text-align: center;
  }
  button, input {
    margin: 7px 0;
  }
}

#access-denied, #not-found {
  margin-top: 50px;
  text-align: center;
}

.inbox-message {
  border-bottom: 1px solid #e7e7e7;
  padding-top: 10px;
  padding-bottom: 10px;
}

// bootstrap overrides
.navbar-static-top {
  margin-bottom: 0;
  .input-group {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.tab-pane {
  padding-top: 25px;
}

td {
  vertical-align: middle !important;
}

.breadcrumb {
  margin-top: 20px;
  margin-bottom: 0;
}

.page-header {
  margin: 25px 0 20px;
  padding-bottom: 15px;
}
