<template name="SiteEditorLayout">
  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      {{> TopNav}}
      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          {{> PagesNav websiteId=websiteId webpages=webpages}}
        </div>
      </div>
    </nav>
    <div id="page-wrapper">
      <div class="row">
        <div class="col-md-12">
          {{> breadcrumb}}
        </div>
      </div>
      {{> yield}}
    </div>
  </div>
</template>
